/*
Autor: Sreten Živković 0008/2018
*/
.header {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 150px 150px;
    background-image: url("../../images/ProLabLOGO.jpg");
}
main {
    min-height: 45vh;
}
.project-tab-button {
    border-size: 3px 0;
    border-bottom: 3px solid black;
}
.project-tab-button.active {
    border-bottom: 3px solid blue!important;
}
#nav-tab {
    border-bottom: 2px solid grey;
}
.team-leader {
    /*background-color: #b9b9b9;*/
    font-weight: bold;
}
