/*
Autor: Sreten Živković 0008/2018
*/

main {
    min-height: 55vh;
}
.team-leader {

    font-weight: bold;
}
#tabela-informacija td:first-child {
    text-align: left;
}
#tabela-informacija td:last-child {
    text-align: right;
}
#my-team-table {
    border-width: 3px !important;
    border-color: black!important;
}

.header-with-background {
    background-position: center;
    background-repeat: no-repeat;
    background-size:  150px 125px;
    background-image: url("../../images/ProLabLOGO.png");
    padding-bottom: 0px;
    background-color: #efefef;
}
footer hr{
    height: 20px;
    background-color: #000066;
    border: none;
    padding: 0;
    width: 100%;
}

