$button-bg-color: black;
$button-active-color: #254cff;
$button-text-color: white;

.my-btn {
    background-color: $button-bg-color;
    color: $button-text-color;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    transition: 500ms all;
}
.btn-dark {
    background-color: $button-bg-color;
    color: $button-text-color;
    font-weight: bold;
    box-sizing: border-box;
}
.btn-dark:hover {
    color: white;
}
.my-btn-tab {
    border-top: 5px solid $button-bg-color;
    border-bottom: 5px solid  $button-bg-color;
}
.my-btn-tab.active {
    border-bottom: 5px solid $button-active-color;
}

.btn-outline-dark:focus {
    box-shadow:none!important;
}

