/*
    Autor: Slobodan Katanic 2018/0133
*/

.container-fluid {
    min-height: 99vh;
    display: flex;
    flex-direction: column;
}

.footer{
    margin-top: auto;

}

.header-with-background {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200px 150px;
    background-image: url("/images/ProLabLOGO.png");
    padding-bottom: 0px;
    /*background-color: #efefef;*/
    background-color: rgb(233, 236, 239);
}

.mytable {
    font-size: 15px;
    text-align: left;
    vertical-align: center;
}

.pill-request {
    font-size: 13px;
}

.nav-pills #pill-reg .nav-link:not(.active) {
    /*border-left: none;*/

    background: none;
    color: black;
}

.nav-pills #pill-new .nav-link:not(.active) {
    /*border-left: none;*/

    background: none;
    color: black;
}

.nav-pills #pill-reg .nav-link {
    background-color: #343a40;
    color: white;
    /*border-left: 2px solid #343a40;*/
    /*background-color: transparent;*/
    /*color: black;*/
}

.nav-pills #pill-new .nav-link {
    background-color: #343a40;
    color: white;
    /*border-left: 2px solid #343a40;*/
    /*background-color: transparent;*/
    /*color: black;*/
}

hr {
    border: none;
    border-bottom: 1px solid black;
}

.menu-button {
    background-color: #343a40;
    color: white;
}

.menu-button:hover {
    color: white;
}

.my-link {
    text-decoration: underline;
}

.my-link:link, .my-link:visited {
    color: black;
}

.my-link:hover {
    font-weight: bold;
}

.my-header {
    background-color: rgb(233, 236, 239);
}
