/*
Autor: Sreten Živković 0008/2018
*/
.header {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 150px 150px;
    background-image: url(/images/ProLabLOGO.jpg?50a1116a3efaab43bd490158a3e43e3f);
}
main {
    min-height: 40vh;
}
.project-tab-button {
    border-size: 3px 0;
    border-bottom: 3px solid black;
}
.project-tab-button.active {
    border-bottom: 3px solid blue!important;
}

