
.nav-pills #pill-reg .nav-link:not(.active) {
    background: none;
    color: black;
}

.nav-pills #pill-new .nav-link:not(.active) {
    background: none;
    color: black;
}

.nav-pills #pill-reg .nav-link {
    background-color: #343a40;
    color: white;
}

.nav-pills #pill-new .nav-link {
    background-color: #343a40;
    color: white;
}
